/* Custom Stylesheet */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height:130%;
}
.row .col {
  padding-left:0;
  margin-left:0;
}


h1{
  font-family: 'Merriweather', serif;
  font-size:2.1em;
  margin-bottom:0.4em;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size:1.1em;
  margin-top:0;
  margin-bottom:0;
}
h3{
  font-family: 'Merriweather', serif;
  font-size:1.1em;
  line-height:1.3em;
  margin-bottom:0;
}

nav{
  background-color:#FFF;
  color:#000;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding-top:1rem;
  padding-bottom:5rem;

}
nav ul a{
  color:#000;
}
.section{
  padding-top:2rem;
 /* padding-bottom:2rem;*/

}
a{
  color:#33861E;
}
a:hover, a:focus{
  text-decoration: underline;
  color: black;
}

.date{
  color:#707877;
}
ul{
  margin-top:0;
  margin-bottom:.5rem;
  line-height:150%;
}
li{
  margin-top:.25rem;
}
.img-icon{
  padding-right:.5rem;
}