
/*General*/
body {
  font-family: 'Vollkorn', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  max-width: 1200px;
}
h1{
  font-size:2.5em;
  font-weight:400;
  padding-bottom:0.3em;
}
h2{
  font-size:1.1em;
  line-height: 1.4em;
  font-weight:700;
}
.subtitle{
  padding-bottom:1.2em;
  font-weight:400;
}
h3{
  font-weight:700;
}
p, ul{
  line-height:1.2em;
  padding-bottom:1em;
}
a{
  color:#00006B;
}
a:hover{
  color:#4545a9;
}

.container{
  padding:100px;
}
.section{
  padding-top:1em;
  max-width: 960px;
  display: block;
}
.nav {
  list-style: none;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
  max-width: 70%;
  max-height:70%;
}
figcaption{
  text-align: center;
  padding-bottom:3em;
}
.img-icon{
  width:25px;
  height:25px;
  padding-right:5px;
}

.italics{
  font-style: italic;
}
/*homepage*/

/*portfolio pages*/
.small-title{
  font-size:2em;
  padding-top:0.6em;
}
.styled-list{
  list-style: inside;
  list-style-type:disc;
}
.bord {
  padding:4px;
  border: solid 0.5px #eee;
}
/*media queries*/
@media only screen
   and (max-width : 768px) {
     body{
       font-size:18px;
     }
     .container{
       padding:20px;
     }
     img{
       max-width:100%;
       max-height:100%;
     }
     .img-icon {
       width:30px;
       height:30px;
       padding:5px;
     }
     h1{
       font-size:2em;
     }
     li {
       padding-bottom:.6em;
     }

}
